* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  color: #444;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
body .map-green {
  color: MediumSeaGreen;
}
body .background-steel-blue {
  background: SteelBlue;
}
body h1 {
  font-size: 52px;
  font-family: "Francois One", sans-serif;
}
body h2 {
  font-size: 28px;
  font-family: "Francois One", sans-serif;
}
body h3 {
  font-size: 26px;
  font-family: "Francois One", sans-serif;
}
body a {
  text-decoration: none;
}
body .hero {
  margin: 0;
  padding: 0;
  color: white;
}
body .hero h1.heading {
  display: inline-block;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  font-weight: normal;
  text-transform: uppercase;
}
body .hero .button {
  font-family: "Francois One", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  height: 60px;
  font-size: 26px;
  line-height: 60px;
  display: block;
  margin-bottom: 1.5em;
  width: 20%;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
}
body .intro {
  font-size: 1.3em;
  text-align: center;
}
body .map {
  height: 800px;
  width: 100%;
  text-align: center;
  position: relative;
}
body .map .ireland-map {
  position: absolute;
  color: black;
  font-size: 1000px;
  line-height: 700px;
  margin-top: 100px;
}
body .map .ulster {
  position: absolute;
  color: red;
}
body .map .ulster a {
  color: red;
}
body .map .ulster .icon-antrim {
  line-height: 202px;
  position: absolute;
  font-size: 202px;
  left: 416px;
  top: 31px;
}
body .map .ulster .icon-armagh {
  line-height: 202px;
  position: absolute;
  font-size: 126px;
  left: 398px;
  top: 127px;
}
body .map .ulster .icon-cavan {
  line-height: 202px;
  position: absolute;
  font-size: 265px;
  left: 270px;
  top: 186px;
}
body .map .ulster .icon-derry {
  line-height: 200px;
  position: absolute;
  font-size: 180px;
  left: 345px;
  top: 20px;
}
body .map .ulster .icon-donegal {
  line-height: 200px;
  position: absolute;
  font-size: 360px;
  left: 198px;
  top: 35px;
}
body .map .ulster .icon-down {
  line-height: 200px;
  position: absolute;
  font-size: 192px;
  left: 448px;
  top: 119px;
}
body .map .ulster .icon-fermanagh {
  line-height: 200px;
  position: absolute;
  font-size: 211px;
  left: 260px;
  top: 124px;
}
body .map .ulster .icon-monaghan {
  line-height: 200px;
  position: absolute;
  font-size: 148px;
  left: 354px;
  top: 150px;
}
body .map .ulster .icon-tyrone {
  line-height: 200px;
  position: absolute;
  font-size: 275px;
  left: 290px;
  top: 76px;
}
body .counties {
  color: #444;
  text-align: center;
}
body .counties [class^="icon-"] {
  line-height: 150px;
}
body .counties h3 {
  margin: 0 0 0.5em 0;
}

.no-padding {
  padding: 0;
}

.padding-top-sml {
  padding-top: 20px;
}

.no-margin {
  margin: 0;
}

.margin-bottom-sml {
  margin-bottom: 15px;
}

.center-block {
  display: block;
  margin: 0 auto;
}

/* font */
.center-text {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.size-2em {
  font-size: 2em;
}

.size-200px {
  font-size: 200px;
}

.size-400px {
  font-size: 400px;
}

/* line heights */
.line-height-200px {
  line-height: 200px;
}

/* line heights */
.line-height-300px {
  line-height: 300px;
}
