//import
@import 'main';
@import 'normalize';
@import 'cloud';

// variables 
$heading-font: 'Francois One', sans-serif;
$body-font: 'Lato', sans-serif;

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	overflow-x:hidden;
	background: #f1f1f1;
	color: #444;
	font-size:16px;
	font-family: $body-font;
	.cloud{
		// border:1px solid white;
		display: block;
		width: 100px;
		height: 100px;
		position: absolute;
		/* top: 0; */
		/* left: 0; */
		line-height: 100px;
		opacity: 0.5;
		font-size: 4em;
		text-align: center;
	}
	.cloud-top-25pc{
		top:25%;
	}
	.cloud-top-50pc{
		top:50%;
	}
	.cloud-top-65pc{
		top:65%;
	}
	/* Animations */
	.cloud-float-35s{
		-moz-animation: clouds 35s infinite;
	  	-webkit-animation: clouds 35s infinite;
	  	animation: clouds 35s infinite;
	}
	.cloud-float-25s{
		-moz-animation: clouds 25s infinite;
	  	-webkit-animation: clouds 25s infinite;
	  	animation: clouds 25s infinite;
	}
	.cloud-float-15s{
		-moz-animation: clouds 15s infinite;
	  	-webkit-animation: clouds 15s infinite;
	  	animation: clouds 15s infinite;
	}

	.map-green{
		color:MediumSeaGreen;
	}
	.background-steel-blue{
		background: SteelBlue;
	}
	
	h1{
		font-size: 52px;
		font-family: $heading-font;
	}
	h2{
		font-size: 28px;
		font-family: $heading-font;
	}
	h3{
		font-size:26px;
		font-family: $heading-font;
		// font-weight: normal;
	}
	a{
		text-decoration:none;
	}

	.hero{
		margin:0;
		padding:0;
		color:white;

		h1.heading{
			display:inline-block;
			width:100%;
			text-align: center;
			letter-spacing: 3px;
			font-weight: normal;
			text-transform: uppercase;
		}		

		.button {
			font-family: $heading-font;
			font-weight: bold;
			text-transform: uppercase;
			height: 60px;
			font-size: 26px;
			line-height: 60px;
			display: block;
			margin-bottom: 1.5em;
			width: 20%;
			border: 2px solid #fff;
			color: #fff;
			border-radius: 5px;
			@media screen and (max-width: 780px) {
				width:40%;
			}
		}
	}
	.intro{
		font-size: 1.3em;
		text-align: center;
	}
	.map{
		height: 800px;
		width: 100%;
		text-align: center;
		position: relative;
		.ireland-map{
			position:absolute;
			color: black;
			font-size: 1000px;
			line-height: 700px;
			margin-top: 100px;
		}
		.ulster{
			position: absolute;
			color: red;
			a{
				color:red;
			}
			.icon-antrim{
				line-height: 202px;
				position: absolute;
				font-size: 202px;
				left: 416px;
				top: 31px;
			}
			.icon-armagh{
				line-height: 202px;
				position: absolute;
				font-size: 126px;
				left: 398px;
				top: 127px;
			}
			.icon-cavan{
				line-height: 202px;
				position: absolute;
				font-size: 265px;
				left: 270px;
				top: 186px;
			}
			.icon-derry{
				line-height: 200px;
				position: absolute;
				font-size: 180px;
				left: 345px;
				top: 20px;
			}
			.icon-donegal{
				line-height: 200px;
				position: absolute;
				font-size: 360px;
				left: 198px;
				top: 35px;
			}
			.icon-down{
				line-height: 200px;
				position: absolute;
				font-size: 192px;
				left: 448px;
				top: 119px;
			}
			.icon-fermanagh{
				line-height: 200px;
				position: absolute;
				font-size: 211px;
				left: 260px;
				top: 124px;
			}
			.icon-monaghan{
				line-height: 200px;
				position: absolute;
				font-size: 148px;
				left: 354px;
				top: 150px;
			}
			.icon-tyrone{
				line-height: 200px;
				position: absolute;
				font-size: 275px;
				left: 290px;
				top: 76px;
			}
		}
	}
	.counties{
		color:#444;
		text-align:center;

		[class^="icon-"]{
			line-height: 150px;
		}
		h3{
			margin: 0 0 0.5em 0;
		}
	}
}

.no-padding{ 
	padding: 0;
}
.padding-top-sml{
	padding-top: 20px;
}

.no-margin{ 
	margin: 0;
}
.margin-bottom-sml{ 
	margin-bottom: 15px;
}

.center-block{
	display:block;
	margin: 0 auto;
}


/* font */
.center-text{
	text-align: center;
}
.bold-text{
	font-weight: bold;
}
.size-2em{
	font-size: 2em;
}
.size-200px{
	font-size: 200px;
}
.size-400px{
	font-size: 400px;
}
/* line heights */
.line-height-200px{
	line-height: 200px;
}
/* line heights */
.line-height-300px{
	line-height: 300px;
}

@-moz-keyframes clouds {
    0% {
        left: -200px;
    }
    100% {
        left: 110%;
    }
}

@-webkit-keyframes clouds
{
    0% {
        left: -200px;
    }
    100% {
        left: 110%;
    }
}
@keyframes clouds
{
    0% {
        left: -200px;
    }
    100% {
        left: 110%;
    }
}