.wrapper{
	max-width: 1140px;
	margin: 10px auto;
	display: block;
	position: relative;
}

.row{
	display: block;
	float:left;
	width: 20%;
	text-align: center;
}

/* font sizes */
.size-200px{
	font-size: 200px;
}

@media screen and (max-width: 767px) {
	.row{
		width: 33%;
	}
}

@media screen and (max-width: 550px) {
	.row{
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.row{
		width: 100%;
	}
}